*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html{
  font-size: 62.5%;
}

html,body{
  height: 100vh;
}

body{
  background-image: url(./assets/images/background-padrao.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}